# Игнорируем виртуальные окружения
venv/

# Игнорируем кэш pytest
.pytest_cache/

# Игнорируем временные файлы Python
*.pyc
__pycache__/

# Игнорируем конфигурации IDE
.idea/
.vscode/

# Игнорируем файлы с резервными копиями
*~
*.bak
*.swp